################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExecuteSqlScriptFile.Desktop/bin/Debug
/.vs/ExecuteSqlScriptFile/v15
/ExecuteSqlScriptFile/obj/Debug
/ExecuteSqlScriptFile.Desktop/obj/Debug
